:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* colors */
  --white: #ffffff;
  --main-green: #77DD76;
  --light-green: #a9f573fe;
}

/* ------------------ GENERAL STYLING --------------------- */

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-size: 15px;
  background-color: var(--white);
  color: var(--white);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

li {
  list-style-type: none;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--main-green);
  color: var(--white);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #f5f373fe;
}

input {
  border-width: 2px;
  border-radius: 10px;
  border-color: var(--light-green);
}

textarea {
  border-width: 2px;
  border-radius: 10px;
  border-color: var(--light-green);
}

/* --------------- HEADER & NAVBAR STYLING ----------------- */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--main-green);
  padding: 10px 20px;
}
#title {
  font-size: 160%;
  font-weight: bold;
  color: var(--white);
}
#login {
  font-size: 160%;
  color: var(--white);
}

/* --------------- CATEGORY COMPONENT STYLING -------------- */

.categories {
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.category {
  background-color: var(--white);
  padding: 10px;
  color: var(--light-green);
  font-size: 110%;
  font-weight: bold;
  border-bottom-style: solid;
  border-bottom-color: var(--white);
}
#my-category {
  padding: 15px;
  background-color: var(--light-green);
  color: var(--white);
  font-size: 120%;
  font-weight: bold;
  padding: 20px
}
#newCategory {
  margin-right: 15px;
}
#new-category-form {
  margin-bottom: 15px;
}
 
/* --------------- CREATE GOAL STYLING ----------------- */

#new-goal{
  display: flex;
  justify-content: center;
  padding: 15px;
  background-color: var(--light-green);
  color: var(--white);
  font-size: 120%;
  font-weight: bold;
}
.new-goal-cont {
  padding-top:10px;
}
.goal-spacing {
  margin-top: 15px;
}
.form-title {
  color: var(--main-green);
  font-size: 110%;
  font-weight: bold;
  margin: 0px 20px;
}
#desc-cont {
  display: flex;
  flex-direction: column;
}
#desc {
  margin-top: 15px;
  margin-left: 20px;
  height: 50px;
  width: 70%;
}
.goal-cont {
  background-color: var(--white);
  padding-bottom: 15px;
  margin-bottom: -15px;
}
.goal-btn {
  margin-left: 31%;
  margin-top: 25px;
  margin-bottom: 15px;
  background-color: var(--light-green);
  color: var(--white);
}

/* ------------------- TO-DO'S STYLING ------------------- */

.todo-cont {
  background-color: var(--white);
  padding-bottom: 10px;
}
#to-do {
  text-align: center;
  font-size: 150%;
  background-color: var(--light-green);
  color: var(--white);
  padding: 15px;
  margin-bottom: -15px;
}
.to-do-ul {
  background-color: var(--white);
  padding: 20px 0px;
  padding-bottom: 0px;
}
.to-do-li {
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: 110%;
  font-weight: bold;
  margin: 10px;
  border-bottom-style: solid;
  border-color: var(--light-green);
  color: var(--main-green);
}
#to-do-btn {
  margin-left: 10px;
  margin-top: -3px;
  margin-bottom: 10px;
}

/* ---------------------- FOOTER STYLING ----------------- */

footer {
  background-color: var(--main-green);
  padding: 10px;
  text-align: center;
  color: white;
  font-size: 130%;
  bottom: 0;
}

/* =================== PAGES STYLING =================== */

/* --------------------GOAL PAGE ---------------------- */
.goal-desc {
  padding: 0px 20px;
}
#goal-cat {
  padding: 20px;
  color: var(--white);
  background-color: var(--light-green);
  margin-top: 0px;
}
#desc-date {
  display: flex;
  flex-direction: column;
}
#desc-date span {
  padding-top: 5px;
}
#desc-cont {
  padding-bottom: 25px;
}

/* ----------------- CATEGORY/VIEW GOALS PAGE ---------------------- */

#goal-list {
  padding-left: 0px;
  margin-top: 0px;
}
#goal-name {
  margin-left: 0px;
  padding: 10px 20px;
  background-color: var(--white);
  border-bottom-style: solid;
  width: 100%;

}
#rtn-btn {
  background-color: var(--white);
  height: 15px;
  padding: 5px;
  margin-left: 20px;
  border-style: solid;
  align-content: center;

}
#goal-list-cont {
  padding-top: 0px;
  background-color: var(--white);
  height: 82vh;
}

/* ------------------ LOGIN PAGE STYLING -------------------- */

#login-cont {
  background-color: lightblue;
}
#login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-label {
  display: flex;
  flex-direction: row;
}
.login-input {
  width: 20%;
}


/* ======================= BREAKPOINTS ===================== */

/* ---------------------- PHONE SCREENS -------------------- */
@media screen and (max-width: 480px) {
  /* -------------------------------------------------------------------------- */
  /* header/navbar styling */
  /* .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main-green);
    padding: 10px 20px;
  }
  .title {
    color: var(--white);
    font-size: 160%;
    font-weight: bold;
  }
  .login {
    color: var(--white);
    font-size: 160%;
  } */
  /* ------------------------------------------------------------- */
  /* categories styling */
   /* .category-container {
    display: block;
    justify-content: center;
  }

  /* .categories {
    text-align: center;
    padding: 0px;
    margin: 0px;
  }

  .category {
    background-color: var(--white);
    padding: 10px;
    color: var(--light-green);
    font-size: 110%;
    font-weight: bold;
    border-bottom-style: solid;
    border-bottom-color: var(--white);
  }
  #my-category {
    padding: 15px;
    background-color: var(--light-green);
    color: var(--white);
    font-size: 120%;
    font-weight: bold;
    padding: 20px
  } */ 
  /* ----------------------------------------------------------------- */
  /* New goal styling */
  /* #new-goal{
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: var(--light-green);
    color: var(--white);
    font-size: 120%;
    font-weight: bold;
  }
  .new-goal-cont {
    padding-top:10px;
  }
  .goal-spacing {
    margin-top: 15px;
  }
  .form-title {
    color: var(--main-green);
    font-size: 110%;
    font-weight: bold;
    margin: 0px 20px;
  }
  .form-input {
    border-width: 2px;
    border-radius: 10px;
    border-color: var(--light-green);
  }
  #desc-cont {
    display: flex;
    flex-direction: column;
  }
  #desc {
    margin-top: 15px;
    margin-left: 20px;
    height: 50px;
    width: 70%;
  }
  .goal-cont {
    background-color: var(--white);
    padding-bottom: 15px;
    margin-bottom: -15px;
  }
  .goal-btn {
    margin-left: 31%;
    margin-top: 25px;
    margin-bottom: 15px;
    background-color: var(--light-green);
    color: var(--white);
  } */
  /* --------------------------------------------------------------- */
  /* todos styling */
  /* .todo-cont {
    background-color: var(--white);
    padding-bottom: 10px;
  }
  #to-do {
    text-align: center;
    font-size: 150%;
    background-color: var(--light-green);
    color: var(--white);
    padding: 15px;
    margin-bottom: -15px;
  }
  .to-do-ul {
    background-color: var(--white);
    padding: 20px 0px;
    padding-bottom: 0px;
  }
  .to-do-li {
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 110%;
    font-weight: bold;
    margin: 10px;
    border-bottom-style: solid;
    border-color: var(--light-green);
    color: var(--main-green);
  }
  #to-do-btn {
    margin-left: 10px;
    margin-top: -3px;
    margin-bottom: 10px;
    background-color: var(--light-green);
    color: var(--white);
  }
  #to-do-btn:hover {
    background-color: #f5f373fe;
  } */

/* --------- PAGE STYLING -------- */
  /* /goal */
  /* .goal-desc {
    padding: 0px 20px;
  }
  #goal-cat {
    padding: 20px;
    color: var(--white);
    background-color: var(--light-green);
    margin-top: 0px;
  }
  #desc-date {
    display: flex;
    flex-direction: column;
  }
  #desc-date span {
    padding-top: 5px;
  }
  #desc-cont {
    padding-bottom: 25px;
  } */
  /* ------------------------------------- */
  /* /category */
  /* #goal-list {
    padding-left: 0px;
    margin-top: 0px;
  }
  #goal-name {
    margin-left: 0px;
    padding: 10px 20px;
    background-color: var(--white);
    border-bottom-style: solid;
    width: 100%;

  }
  #rtn-btn {
    background-color: var(--white);
    height: 15px;
    padding: 5px;
    margin-left: 20px;
    border-style: solid;
    align-content: center;

  }
  #goal-list-cont {
    padding-top: 0px;
    background-color: var(--white);
    height: 82vh;
  } */
}

/* breakpoint for ipads/tablets */
@media screen and (max-width: 768px) {


}

/* breakpoint for laptops/small screens */
@media screen and (max-width: 1024px) {
  #to-do-btn:hover {
    background-color: #f5f373fe;
  }
}

/* desktops */
@media screen and (max-width: 1200px) {

}