@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Amatic+SC&family=Patrick+Hand&display=swap');

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: 'Alfa Slab One', serif;
  /* font-family: 'Amatic SC', sans-serif;
  font-family: 'Patrick Hand', cursive; */
  line-height: 1.5;
  /* font-weight: 00; */

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* colors */
  --white: rgb(255, 255, 255);
  --light-grey: #f4f4f4;
  --main-green: #5559bd;
  --light-green: #5793cbfe;
  --orange-yellow: #F2C452;
  --very-light-blue: #92c4f3fe;
}

/* ------------------ GENERAL STYLING --------------------- */

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-size: 15px;
  background-color: var(--white);
  color: var(--white);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

li {
  list-style-type: none;
}

button {
  border-radius: 8px;
  border-color: var(--orange-yellow);
  padding: 0.6em 1.2em;
  font-size: 1em;
  /* font-weight: 500; */
  font-family: inherit;
  background-color: var(--orange-yellow);
  color: var(--white);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #f5f373fe;
}

input {
  border-width: 2px;
  border-radius: 10px;
  border-color: var(--light-green);
}

textarea {
  border-width: 2px;
  border-radius: 10px;
  border-color: var(--light-green);
}

/* --------------- HEADER & NAVBAR STYLING ----------------- */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--main-green);
  padding: 10px 20px;
}
#trophy {
  color: var(--orange-yellow);
}
#title {
  font-size: 160%;
  font-weight: bold;
  color: var(--white);
}
#login, #logout {
  font-size: 160%;
  color: var(--white);
}

/* --------------- CATEGORY COMPONENT STYLING -------------- */

.categories {
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.category {
  background-color: var(--white);
  padding: 10px;
  color: var(--orange-yellow);
  font-size: 110%;
  font-weight: bold;
  border-bottom-style: solid;
  border-bottom-color: var(--light-grey);
}
#my-category {
  padding: 15px;
  background-color: var(--light-green);
  color: var(--white);
  font-size: 120%;
  font-weight: bold;
  padding: 20px
}
#cat-link {
  color: #F2C452;
}
#cat-link:hover {
  text-decoration: underline;
}
#new-category:hover {
  text-decoration: underline;
}
#newCategory {
  margin-right: 15px;
}
#new-category-form {
  margin-bottom: 15px;
}
 
/* --------------- CREATE GOAL STYLING ----------------- */

#new-goal{
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: var(--light-green);
  color: var(--white);
  font-size: 120%;
  font-weight: bold;
}
.new-goal-cont {
  padding-top:10px;
}
.goal-spacing {
  margin-top: 15px;
}
.form-title {
  color: var(--orange-yellow);
  font-size: 110%;
  font-weight: bold;
  margin: 0px 20px;
}
#desc-cont {
  display: flex;
  flex-direction: column;
}
#desc {
  margin-top: 15px;
  margin-left: 20px;
  height: 50px;
  width: 70%;
}
.goal-cont {
  background-color: var(--white);
  padding-bottom: 15px;
  margin-bottom: -15px;
}
.goal-btn {
  margin-left: 31%;
  margin-top: 25px;
  margin-bottom: 15px;
}

/* ------------------- TO-DO'S STYLING ------------------- */

.todo-cont {
  background-color: var(--white);
  padding-bottom: 10px;
}
#to-do {
  text-align: center;
  font-size: 120%;
  background-color: var(--light-green);
  color: var(--white);
  padding: 20px;
  margin:0px;
}
.to-do-ul {
  background-color: var(--white);
  padding: 20px 0px;
  padding-bottom: 0px;
}
.to-do-li {
  margin-left: -10px;
  padding-bottom: 10px;
  font-size: 110%;
  font-weight: bold;
  margin: 10px;
  border-bottom-style: solid;
  border-color: var(--very-light-blue);
  color: var(--orange-yellow);
}
#to-do-btn {
  margin-left: 10px;
  margin-top: -3px;
  margin-bottom: 10px;
}

/* ---------------------- FOOTER STYLING ----------------- */

footer {
  background-color: var(--main-green);
  padding: 10px;
  text-align: center;
  color: white;
  font-size: 130%;
  bottom: 0;
}

/* =================== PAGES STYLING =================== */

/* --------------------GOAL PAGE ---------------------- */
.goal-desc {
  padding: 0px 10px;
}
#goal-cat {
  padding: 20px;
  color: var(--white);
  background-color: var(--light-green);
  margin-top: 0px;
}
#desc-date {
  display: flex;
  flex-direction: column;
}
#desc-date span {
  padding-top: 5px;
}
#desc-cont {
  padding-bottom: 25px;
}
#view-goal-cont {
  display: flex;
  justify-content: space-between;
  background-color: var(--light-green);
  height: 70px;
}
#goal-title {
  margin-left: 20px;
  font-size: 200%;
  margin-bottom: 10px;
  color: var(--main-green)
}
#view-goal-desc {
  color: var(--very-light-blue);
  padding: 0px 20px;
}
#view-goal-area {
  padding: 20px;
  margin-bottom: 20px;
  width: 85%;
  margin-left: 20px;
  border-style: solid;
  border-width: 3px;
  border-color: var(--main-green);
}
#view-goal-text {
  margin-left: -20px;
}
#single-goal-btn {
  margin-right: 20px;
  margin-left: 0px;
}
#complete-goal-btn {
  margin-left: 20px;
  margin-bottom: 20px;
}

/* ----------------- CATEGORY/VIEW GOALS PAGE ---------------------- */

#goal-list {
  padding-left: 0px;
  margin-top: 0px;
}
#goal-name {
  margin-left: 0px;
  padding: 20px 20px;
  text-align: center;
  background-color: var(--white);
  border-style: solid;
  border-width: 15px;
  border-color: var(--light-grey);
  border-bottom: hidden;
  width: 85%;

}
.rtn-btn {
  background-color: var(--white);
  height: 15px;
  padding: 5px;
  margin-left: 15px;
  margin-top: 15px;
  border-style: solid;
  align-content: center; 
  border-radius: 8px;
  border-color: var(--orange-yellow);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-family: inherit;
  background-color: var(--orange-yellow);
  color: var(--white);
  cursor: pointer;
  transition: border-color 0.25s;
}
#rtn-btn:hover {
  background-color: #f5f373fe;
}
#goal-list-cont {
  padding-top: 0px;
  background-color: var(--white);
  height: 82vh;
  background-color: var(--light-grey);
}

/* ------------------ LOGIN PAGE STYLING -------------------- */

#login-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--light-grey);
}
#login-form {
  width: 40vh;
  height: 60vh;
  margin: 10vh auto;
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: var(--white);
  padding: 20px;
  border-style: solid;
  border-color: var(--light-green);
}
.login-input-cont {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}
.login-input {
  width: 90%;
  margin-top: 10px;
  margin-left: 15px;
}
#login-btn {
  margin-top: 60px;
  width: 92%;
  margin-left: 15px;
}
#email {
  margin-left: 37px;
}
/* #password {
  margin-left: 8px;
} */
#new-user {
  margin-top: -20vh;
  margin-bottom: 15vh;
} 


/* ======================= BREAKPOINTS ===================== */

/* ---------------------- PHONE SCREENS -------------------- */
@media screen and (max-width: 480px) {

}

/* breakpoint for ipads/tablets */
@media screen and (min-width: 768px) {
  body {
    background-color: white;
  }
}

/* breakpoint for laptops/small screens */
@media screen and (min-width: 1024px) {
  .desktop-view {
    display: flex;
  }

  body {
    height: 90vh;
    background-color: var(--light-grey);
  }
  /* ------------------ CATEGORIES --------------- */
  .category-container {
    width: 25%;
  }
  .category {
    padding: 25px;
    border-bottom-style: solid;
    border-width: 15px;
    border-color: var(--light-grey)
  }
  #my-category {
    margin-left: 10px;
    border-top-style: solid;
    border-top-width: 15px;
    border-color: var(--light-grey)
    /* border-style: solid;
    border-width: 15px;
    border-color: var(--main-green);
    border-top-style: hidden;
    border-bottom-style: hidden; */
  }
  #cat-border {
    border-style: solid;
    border-color: var(--light-grey);
    border-width: 15px;
    border-right-style: hidden;
  }
  /* -------------------- NEW GOAL ------------------ */
  .goal-cont {
    width: 50%;
    padding: 0px;
  }
  .new-goal-cont {
    border-style: solid;
    border-color: var(--light-grey);
    border-width: 15px;
    /* border-radius: 25px; */
  }
  #new-goal {
    /* margin: 0px 10px; */
    border-style: solid;
    border-width: 15px;
    border-color: var(--light-grey);
    border-bottom-style: hidden;
    /* border-style: solid;
    border-width: 15px;
    border-color: var(--main-green);
    border-top-style: hidden;
    border-bottom-style: hidden; */
    /* border-radius: 25px; */
  }
  #desc {
    height: 20vh;
    width: 60vh;
  }
  .goal-btn {
    margin: 30px 40%;
  }
  /* --------------------- TO-DOS --------------------- */
  .todo-cont {
    width: 25%;
    border-right-style: solid;
    border-right-width: 15px;
    border-right-color: var(--light-grey);
  }
  #to-do {
    /* border-radius: 25px; */
    /* margin-right: 10px; */
    /* border-style: solid;
    border-width: 15px;
    border-color: var(--main-green);
    border-top-style: hidden;
    border-bottom-style: hidden; */
    border-top-style: solid;
    border-top-width: 15px;
    border-color: var(--light-grey)
  }
  .to-do-li {
    margin-top: -15px;
    margin-left: 10px;
  }
  #to-do-btn {
    margin-right: 10px;
  }
  #to-do-border {
    border-top-style: solid;
    border-color: var(--light-grey);
    border-width: 15px;
  }
  /* #new-to-do-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
  }  */
  #new-to-do-label {
    color: black;
  }
  #new-to-do-form {
    margin-left: 15px;
  }

  footer {
    margin-top: 15px;
  }

}



/* desktops */
@media screen and (min-width: 1200px) {
  body {
    background-color: var(--light-grey);
  }
  .desktop-view {
    display: flex;
  }
}